$component-name: "progress-bar";

.#{$component-name} {
    $color-fill: var(--primary-color);
    $color-background: #e0e0e0;

    width: 300px;
    border: solid 5px;
    background-color: $color-background;
    flex-direction: row;

    @for $value from 0 through 100 {
        &--#{$value} {
            $progress-fill: 1% * $value;
            $progress-background: 1% * (100 - $value);

            .#{$component-name}-fill {
                width: $progress-fill;
                height: 50px;
                background-color: $color-fill;
                transition: all 2s ease;
            }
    
            .#{$component-name}-background {
                width: $progress-background;
                height: 50px;
                background-color: $color-background;
                transition: all 2s ease;
            }
        }
    }

    @media (min-width: 320px) {
        width: 50vw;
    }

    @media (min-width: 480px){
        width: 45vw;
    }

    @media (min-width: 768px){
        width: 40vw;
    }

    @media (min-width: 960px){
        width: 40vw;

    }

    @media (min-width: 1200px){
        width: 30vw;
    }
}