.where-we-are {
    color: #000;
    background-color: #FFF;

    .title {
        margin-bottom: 2vh;

        span {
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .locations {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vh;
    }

    .city {
        align-items: center;
        margin-right: 3vw;
        
        .name {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            
            .address {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        .direction {
            margin-top: 2vh;

            button {
                background: #1c1c1c;
                color: #FFF;
                font-size: 1.2rem;
                border-radius: 2px;
                font-weight: 500;
            }
        }

    }

    .map {
        .map-container {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 70vh;
            height: 50vh;
        }
            
        .map-frame {
            border: 1px solid rgba(0, 0, 0, 0.205);
            height: 100%;
        }
            
        #map {
            height: 100%;
        }
    }

    .social-media {
        display: flex;
        justify-content: center;
        padding: 2vw 0;
        border-top: solid 2px #1c1c1c;
        border-bottom: solid 2px #1c1c1c;

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 0 20px;
                
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #1c1c1c;

                    i {
                        font-size: 2rem;
                    }

                    &:hover {
                        // color: var(--primary-color);
                    }
                }
            }
        }
    }
}