.where-we-are {
    color: #000;
    background-color: #FFF;


    .map {
        .map-container {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 30px;
            width: 70vh;
            height: 50vh;
        }
            
        .map-frame {
            border: 1px solid rgba(0, 0, 0, 0.205);
            height: 100%;
        }
            
        #map {
            height: 100%;
        }
    }
}