<div class="where-we-are">
    <app-title-module  [image]="imgTitle" [title]="'Onde estamos'"></app-title-module>
    <div class="container">
        <div class="info">
            <div class="title">
                <span>Cultos presenciais</span>
            </div>
            <div class="content">
                <span class="bold">Domingo</span>
                <span>18hs - Sala de oração</span>
                <span>19hs - Culto da Família</span>
                <span class="bold">Segunda</span>
                <span>20hs - Reunião de oração</span>
                <span class="bold">Quarta</span>
                <span>20hs - Culto de Celebração</span>
                <span class="bold">Sábado</span>
                <span>20hs - Culto de Jovens</span>
            </div>
        </div>
        <div class="info">
            <div class="title">
                <span>Cultos Online</span>
            </div>
            <div class="content">
                <span class="bold">Domingo</span>
                <span>19hs - Culto da Família</span>
            </div>
        </div>
    </div>

    <div class="address">
        <div class="icon">
            <i class="bi bi-geo-alt-fill"></i>
        </div>
        <div class="information">
            <span>
                Rua Pioneiro José Jacinto Maia, 250 - 
                Jardim Copacabana, Maringá - PR
            </span>
        </div>
    </div>

    <div class="location">
        <div class="container">
            <h1>Visite-nos</h1>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3662.3111777536556!2d-51.94048958538855!3d-23.376957460692438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ecd689d1cdfa2d%3A0x14b0e34c1da80b1b!2sRenascer%20Maring%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1656301501496!5m2!1spt-BR!2sbr" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>

