.where-we-are {
    .locations {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vh;
    }

    .city {
        align-items: center;
        margin-right: 3vw;
        
        .name {
            display: flex;
            flex-direction: column;
            font-size: --size-font-text;
            font-weight: 700;
            
            .address {
                font-size: --size-font-text;
                font-weight: 500;
            }
        }

        .direction {
            margin-top: 2vh;

            button {
                background: #1c1c1c;
                color: #FFF;
                font-size: --size-font-text;
                border-radius: 2px;
                font-weight: 500;
            }
        }

    }

    .map {
        .map-container {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 70vh;
            height: 50vh;
        }
            
        .map-frame {
            border: 1px solid rgba(0, 0, 0, 0.205);
            height: 100%;
        }
            
        #map {
            height: 100%;
        }
    }

    //Tablet
    @media (min-width: 768px) and (max-width: 1023px) {
        .locations {
            flex-direction: column;
        }

        .city {
            margin-bottom: 3vh;
        }

        .map {
            .map-container {
                width: 100%;
            }
        }
    }

    //Smartphone
    @media (max-width: 767px) {
        .locations {
            flex-direction: column;
        }

        .city {
            margin-bottom: 3vh;
        }

        .map {
            .map-container {
                width: 100%;
            }
        }
    }
}