<div class="where-we-are module">
    <div class="container">
        <div class="title">
            <span>Visite-nos</span>
        </div>
        <div class="locations">
            <div class="city">
                <div class="name">
                    <span>Maringá</span>
                    <div class="address">
                        <span>
                            Rua Pioneiro José Jacinto Maia, 250 - 
                            Jardim Copacabana, Maringá - PR
                        </span>
                    </div>
                    
                </div>
                <div class="direction">
                    <button class="btn"
                            (click)="openRoutes()">
                        <span>Google maps</span>
                    </button>
                </div>
            </div>
            <div class="map">
                <div class="map-container">
                    <div class="map-frame">
                      <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-media">
            <ul *ngFor="let media of socialMedia">
                <li>
                    <a (click)="openLink(media.link)">
                        <i class="{{media.icon}}"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

