<div class="where-we-are module">
    <div class="container">
        <div class="title-module">Visite-nos</div>
        <div class="locations">
            <div class="city">
                <div class="name">
                    <div class="sub-title">Maringá</div>
                    <div class="address">
                        <span>
                            Rua Pioneiro José Jacinto Maia, 250 
                        </span>
                        <span>
                            Jardim Copacabana, Maringá - PR
                        </span>
                    </div>
                    
                </div>
                <div class="direction">
                    <button class="btn"
                            (click)="openRoutes()">
                        <span>Google maps</span>
                    </button>
                </div>
            </div>
            <div class="map">
                <div class="map-container">
                    <div class="map-frame">
                      <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

