<!-- <app-title-module  [image]="imgTitle" [title]="'Contato'" ></app-title-module> -->
<div class="contact module">
    <div class="container">
        <section class="about-section">
            <div class="about">
                <div class="title">About Elevation Church</div>
                <div class="text">Elevation Church, led by Pastor Steven Furtick, is based in Charlotte, NC and has multiple locations in the Charlotte area and beyond.</div>
            </div>
            <div class="image" 
                 style="background-image: url('../../../assets/img/about_background.JPG');">
            </div>
        </section>

        <section class="carousel-section">
            <swiper [config]="swiperConfig">
                <ng-template swiperSlide *ngFor="let image of images">
                    <div class="image" style="background-image: url({{image.img}});"></div>
                </ng-template>
                <div class="swiper-button-prev">
                    <i class="bi bi-arrow-right"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="bi bi-arrow-right"></i>
                </div>
            </swiper>
        </section>

        <section class="lidearship-section">
            <div class="image" 
                 style="background-image: url('../../../assets/img/prs.jpg');">
            </div>
            <div class="lidearship">
                <div class="title">Pastor Steven and Holly Furtick</div>
                <div class="text">Elevation Church, led by Pastor Steven Furtick, is based in Charlotte, NC and has multiple locations in the Charlotte area and beyond.</div>
            </div>
        </section>

    </div>
</div>