<div class="contact-module">
    <app-title-module  [image]="imgTitle" [title]="'Contato'" ></app-title-module>
    <div class="container"></div>
    <!-- <div class="container"> -->
        <!-- <div class="info">
            <div class="title">
                <span>Endereço</span>
            </div>
            <div class="content">
                <span class="bold">Zion Church - São Paulo</span>
                <span>Rua Liberato Carvalho Leite, 86 - Vila Suzana, São Paulo, SP. CEP: 05630-100</span>
            </div>
        </div>
        <div class="info">
            <div class="title">
                <span>Telefones</span>
            </div>
            <div class="content">
                <span class="bold">+55 11 3746-8984</span>
                <span class="bold">+55 11 3746-9700</span>
            </div>
        </div> -->
    <!-- </div> -->
</div>