<div class="about-module module">
    <div class="container">
        <div class="about-area">
            <div class="title">
                <h1>About</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button (click)="goToLidership()" class="btn-dark">Liderança</button>
                </div>
                <div class="col-md-4">
                    <button (click)="goToDepartment()" class="btn-dark">Ministérios</button>
                </div>
                <div class="col-md-4">
                    <button (click)="goToVision()" class="btn-dark">Visão</button>
                </div>
            </div>
        </div>
    </div>
</div>