<div class="about-module">
    <!-- <app-title-module  [image]="imgTitle" [title]="'Quem somos'" ></app-title-module> -->
    
    <div class="container">
        <!-- <div class="row">
            <div>
                <h1>Seja bem vindo a Igreja Renascer!</h1>
            </div>
            <div>
                <h3>Uma igreja, uma família!</h3>
            </div>
        </div>
        <div class="row">
            <div>
                <h1>Nossos valores</h1>
            </div>
        </div> -->
        <div class="line">
            <div class="image">
                <img src="./../../../assets/img/laura-wielo-jPMKPg7qtZM-unsplash.jpg" alt="">
            </div>
            <div class="text">
                <div>
                    <h1>Nossa Missão</h1>
                </div>
                <div>
                    <p style="font-family: Kameron, Georgia, serif;">
                        Adorar a Deus, proclamar o Evangelho no poder do Espírito Santo, fazer discípulos de Jesus e amar ao próximo.
                    </p>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="text">
                <div>
                    <h1>Visão</h1>
                </div>
                <div>
                    <p style="font-family: Kameron, Georgia, serif;">
                        Ser uma igreja fiel às Escrituras Sagradas, relevante à sociedade, que promove a transformação do ser humano e o seu desenvolvimento por meio do evangelho, em conformidade com os valores bíblicos.
                    </p>
                </div>
            </div>
            <div class="image">
                <img src="./../../../assets/img/church.jpg" alt="">
            </div>
        </div>
    </div>
</div>