.footer-component {
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white);

    footer {
        width: 100vw;
        display: contents;

        .container {
            display: flex;
            flex-direction: column;

            .social-media {
                height: 10vh;
                line-height: 10vh;
                display: flex;
                justify-content: center;
                border-top: solid 1px rgb(148, 148, 148);
    
                ul {
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                }
        
                li {
                    margin: 0 10px;

                    a {
                        cursor: pointer;
                    }
                }
                
                a i {
                    font-size: 1.5rem;
                    transition: color .4a ease;
                    color: rgb(148, 148, 148);
                }
        
                a:hover i {
                    color: var(--background-color);
                }
            }
        }
            
        
        .bottom {
            height: 10vh;
            line-height: 10vh;
            padding: 0 50px;
            font-weight: 700;
            background: var(--background-color);
            color: rgb(148, 148, 148);;

            p {
                font-size: 14px;
                word-spacing: 2px;
                text-transform: capitalize;
                text-align: left;
                font-size: 1rem;
            }
    
            span {
                text-transform: uppercase;
                opacity: .4;
                font-weight: 200;
            }
        }
    }

    @media (min-width: 320px) {
        footer {
            .bottom {
                padding: 0 5vh;

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    @media (min-width: 480px){
        footer {
            .bottom {
                padding: 0 5vh;

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (min-width: 768px){
        footer {
            .bottom {
                padding: 0 5vh;

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (min-width: 960px){
        footer {
            .bottom {
                padding: 0 5vh;

                p {
                    font-size: 1.3rem;
                }
            }
        }
    }

    @media (min-width: 1200px){
        footer {
            .bottom {
                padding: 0 5vh;

                p {
                    font-size: 1.3rem;
                }
            }
        }
    }
}