.footer-component {
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;

    footer {
        width: 100vw;
        display: contents;

        .container {
            display: flex;
            flex-direction: column;
            
            .social-media {
                border-top: solid 1px rgb(148, 148, 148);;

                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem;
                }
        
                li {
                    margin: 0 10px;
                }
                
                a i {
                    font-size: 1.1rem;
                    transition: color .4a ease;
                    color: rgb(148, 148, 148);
                }
        
                a:hover i {
                    color: #131313;
                }
            }
        
            .bottom {
                height: 10vh;
                font-weight: 700;
                color: rgb(148, 148, 148);;

                p {
                    margin: 0;
                    line-height: 10vh;
                    font-size: 14px;
                    word-spacing: 2px;
                    text-transform: capitalize;
                    text-align: left;
                    font-size: 1rem;
                }
        
                span {
                    text-transform: uppercase;
                    opacity: .4;
                    font-weight: 200;
                }
            }
        }
    }
}