.department-module {
    background-color: var(--white);
    display: flex;
    justify-content: center;

    .container {
        width: 100vw;

        .department-area {
            .title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                margin: 1vw;
            }
        }
    }
}