.department-module {
    background-color: var(--white);
    display: flex;
    justify-content: center;

    section {
        .container {
            width: 100vw;

            .top {
                display: flex;
                justify-content: space-between;
                font-family: Montserrat-Bold;

                .title {
                    font-weight: 700;
                    margin: 1vw;
                }
    
                .return {
                    float: right;
                    margin: auto 0px;
        
                    button {
                        color: #ff671f;
                        background-color: transparent;
                        font-size: 18px;
                        transition: 0.1s ease;
        
                        i {
                            padding: 5px;
                        }
                    }
                    
                    button:hover {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}