<div class="navbar-component" appScroll>
    <nav>
        <div class="container">
            <div class="area">
                <div class="logo" routerLink="/home">
                    <img src="../../../assets/img/logo_branca.png" class="logo-white" alt="Renascer Logo">
                    <img src="../../../assets/img/logo_preta.png" class="logo-black" alt="Renascer Logo">
                </div>
                <div class="menu">
                    <div class="item" *ngFor="let menu of menuItens">
                        <a routerLink="{{menu.router}}">{{menu.label}}</a>
                    </div>
                </div>
                <div class="social-media">
                    <div class="item" *ngFor="let media of socialMedia">
                        <a (click)="openLink(media.link)">
                            <i class="{{media.icon}}"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>