.navbar-component {
    header {
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        color: #FFF;

        .header-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            padding: 0 20px;
            background-color: transparent;
        }

        nav {
            display: flex;
        }

        .tabs {
            margin: 0 30px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                color: #FFF;
                font-family: BebasNeue-Regular;
                font-weight: 400;
                font-style: normal;
                font-size: 24px;
                letter-spacing: 2px;
                line-height: 1em;
            }:hover {
                color: #fcbf49;
            }
        }

        .toggle-menu {
            width: 100%;
            display: flex;
            z-index: 1040;
            display: none;

            .mobile-nav-toggle-label {
                color: #FFF;
                cursor: pointer;
                margin: 0;
            }
    
            .top {
                margin-bottom: 5px;
            }
    
            .middle {
                margin-bottom: 5px;
            }
    
            .bottom {
            }
    
            .bar {
                background-color: #FFF;
                width: 30px;
                height: 3px;
                top: 0;
                right: 0;
                transition: all 0.3s ease;
            }
    
            .rotate-top {
                transform: rotate(45deg);
                margin: 0;
                transition: all 0.3s ease;
                background: #1c1c1c;
            }
    
            .rotate-middle {
                transform: rotate(-45deg);
                margin: 0;
                transition: all 0.3s ease;
                position: relative;
                top: -3px;
                background: #1c1c1c;
            }
    
            .rotate-bottom {
                transform: rotate(-45deg);
                margin: 0;
                transition: all 0.3s ease;
                position: relative;
                top: -6px;
                background: #1c1c1c;
            }
        }


        .menu-mobile {
            width: 100vw;
            height: 100vh;
            position: absolute;
            margin-top: -10vh;
            background-color: #FFF;
            display: none;
        }

        .in {
            -webkit-animation: menu-mobile-in-animation .5s cubic-bezier(.23,1,.32,1) both;
            -o-animation: menu-mobile-in-animation .5s cubic-bezier(.23,1,.32,1) both;
            animation: menu-mobile-in-animation .5s cubic-bezier(.23,1,.32,1) both;
        }

        .out {
            -webkit-animation: menu-mobile-out-animation .45s cubic-bezier(.755,.05,.855,.06) both;
            -o-animation: menu-mobile-out-animation .45s cubic-bezier(.755,.05,.855,.06) both;
            animation: menu-mobile-out-animation .45s cubic-bezier(.755,.05,.855,.06) both;
        }
    
        .menu-item {
            margin-top: 10vh;
            cursor: pointer;

            .box {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2vh;
            }
    
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                color: var(--black);
                transition: 0.3s;
            }
    
            a:hover {
                color: #fcbf49;
            }
        }
        
        .subitem-menu {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            text-transform: capitalize;
            font-weight: 700;
    
            .icon {
                background-color: #efefef;
                border-radius: 50%;
                height: 7vh;
                width: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            i {
                font-size: 40px;
                margin-top: 5px;
            }
        }
    }

    @keyframes menu-mobile-in-animation {
        0% {
            -webkit-transform: translateX(-1000px);
            -o-transform: translateX(-1000px);
            transform: translateX(-1000px);
            -webkit-transform-origin: 0 50%;
            -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            -webkit-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes menu-mobile-out-animation {
        0% {
            -webkit-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            -webkit-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateX(-1000px);
            -o-transform: translateX(-1000px);
            transform: translateX(-1000px);
            -webkit-transform-origin: 0 50%;
            -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        header {
            .tabs {
                display: none !important;
            }

            .toggle-menu {
                display: block;
            }

            .menu-mobile {
                display: block;
            }
        }
    }

    @media (max-width: 767px) {
        header {
            .tabs {
                display: none !important;
            }

            .toggle-menu {
                display: block;
            }

            .menu-mobile {
                display: block;
            }
        }
    }
}

.navbar-scroll-directive {
    @media (min-width: 1023px) {
        header {
            color: #1c1c1c;
    
            .header-inner {
                background-color: #FFF;
                border-bottom: solid 1px #1c1c1c;
                background: #FFF;
            }
    
            .tabs {
                a {
                    color: #1c1c1c;
                }
            }
    
            .bar {
                background-color: #1c1c1c;
            }
        }
    }
}