.navbar-component {
    header {
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        color: #FFF;

        .header-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            padding: 0 20px;
            background-color: transparent;
            background: linear-gradient(180deg, #000000f2, transparent);
        }

        .header-nav {
        }

        .navigation {
            display: flex;
        }

        .tabs {
            margin: 0 30px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                color: #FFF;
                font-size: 1.2rem;
            }
        }

        .toggle-menu {
            display: flex;
            justify-content: right;
            position: absolute;
            right: 0;
            padding: 0 20px;
            z-index: 1040;
        }

        .mobile-nav-toggle-label {
            color: #FFF;
            cursor: pointer;
            margin: 0;
        }

        .top {
            margin-bottom: 5px;
        }

        .middle {
            margin-bottom: 5px;
        }

        .bottom {
        }

        .bar {
            background-color: #FFF;
            width: 30px;
            height: 3px;
            top: 0;
            right: 0;
            transition: all 0.3s ease;

        }

        .rotate-top {
            transform: rotate(45deg);
            margin: 0;
            transition: all 0.3s ease;
            background: #1c1c1c;
        }

        .rotate-middle {
            transform: rotate(-45deg);
            margin: 0;
            transition: all 0.3s ease;
            position: relative;
            top: -3px;
            background: #1c1c1c;
        }

        .rotate-bottom {
            transform: rotate(-45deg);
            margin: 0;
            transition: all 0.3s ease;
            position: relative;
            top: -6px;
            background: #1c1c1c;
        }

        .menu-mobile {
            // width: 40%;
            height: 100vh;
            position: absolute;
            margin-top: -13vh;
            right: 0px;
            float: right;
            background-color: #FFF;

        }

        .in {
            -webkit-animation: menu-mobile-in-animation .5s cubic-bezier(.23,1,.32,1) both;
            -o-animation: menu-mobile-in-animation .5s cubic-bezier(.23,1,.32,1) both;
            animation: menu-mobile-in-animation .5s cubic-bezier(.23,1,.32,1) both;
        }

        .out {
            -webkit-animation: menu-mobile-out-animation .45s cubic-bezier(.755,.05,.855,.06) both;
            -o-animation: menu-mobile-out-animation .45s cubic-bezier(.755,.05,.855,.06) both;
            animation: menu-mobile-out-animation .45s cubic-bezier(.755,.05,.855,.06) both;
        }

    
        .menu-item {
            margin-top: 13vh;
            cursor: pointer;
            border-top: 1px solid hsla(0,0%,9%,.15);
            border-bottom: 1px solid hsla(0,0%,9%,.15);

            .box {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2vh;
            }
    
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                color: var(--black);
                transition: 0.3s;
            }
    
            a:hover {
                color: var(--primary-color);
            }
        }
        
        .subitem-menu {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            text-transform: capitalize;
            font-weight: 700;
    
            .icon {
                background-color: #efefef;
                border-radius: 50%;
                height: 7vh;
                width: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            i {
                font-size: 40px;
                margin-top: 5px;
            }
        }

        .slide-in-blurred-right {
            -webkit-animation: slide-in-blurred-right .5s cubic-bezier(.23,1,.32,1) both;
            -o-animation: slide-in-blurred-right .5s cubic-bezier(.23,1,.32,1) both;
            animation: slide-in-blurred-right .5s cubic-bezier(.23,1,.32,1) both;
        }
    }


//     @media (max-width: 1023px) {
//         header {
//             .area {
//                 .menu {
//                     .item {
//                         display: none !important;
//                     }
//                 }
//             }
//         }
//     }

//     @media (max-width: 767px) {
//         header {
//             .area {
//                 .logo {
//                     width: 100vw;
//                     display: flex;
//                     justify-content: center;

//                     img {
//                         height: 6vh;
//                         margin: 20px 0;
//                     }
                    
//                     .logo-black {
//                         display: none;
//                     }
//                 }
//             }
//             .toggle-menu {
//                 position: absolute;
//                 justify-content: left !important;
        
//                 i {
//                     font-size: 3rem;
//                 }
//             }
//         }

//         .menu-mobile {
//             position: absolute;
    
//             .menu {
//                 width: 100vw;
//                 height: 100vh;
//                 right: 0px;
//                 left: 0px;
//                 top: 0vh;
//             }
    
//             .hide-menu {
//                 top: -100vh;
//             }
//         }
//     }

    @keyframes menu-mobile-in-animation {

        0% {
            -webkit-transform: translateX(1000px);
            -o-transform: translateX(1000px);
            transform: translateX(1000px);
            -webkit-transform-origin: 0 50%;
            -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            -webkit-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes menu-mobile-out-animation {
        0% {
            -webkit-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            -webkit-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-filter: blur(0);
            filter: blur(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateX(1000px);
            -o-transform: translateX(1000px);
            transform: translateX(1000px);
            -webkit-transform-origin: 0 50%;
            -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-filter: blur(40px);
            filter: blur(40px);
            opacity: 0;
        }
    }
}


.navbar-scroll-directive {
    header {
        color: #1c1c1c;

        .header-inner {
            background-color: #FFF;
            border-bottom: solid 1px #1c1c1c;
            background: #FFF;
        }

        .tabs {
            a {
                color: #1c1c1c;
            }
        }

        .bar {
            background-color: #1c1c1c;
        }
    }
}