.navbar-component {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

    nav {
        height: 10vh;
        color: var(--white);

        .container {
            width: auto;

            .area {
                height: 10vh;
                display: flex;
                justify-content: center;
                line-height: 10vh;

                .logo {
                    cursor: pointer;

                    img {
                        height: 6vh;
                        margin: 20px 0;

                    }
                    
                    .logo-black {
                        display: none;
                    }
                }
    
                .menu {
                    display: flex;
                    margin: auto;

                    .item {
                        margin: 0 20px;

                        a {
                            font-size: 11px;
                            position: relative;
                            text-decoration: none;
                            padding: 0 10px;
                            text-transform: uppercase;
                            font-weight: 400;
                            letter-spacing: 2px;
                            padding: 5px 0;
                            color: var(--white);
                            transition: 0.3s;
                        }
            
                        a:hover {
                            // opacity: 0.7;
                            color: var(--primary-color);
                        }
        
                        a::after {
                            content: "";
                            position: absolute;
                            background-color: var(--primary-color);
                            height: 3px;
                            width: 0;
                            left: 0;
                            bottom: -10px;
                            transition: 0.3s;
                        }
        
                        a:hover::after {
                            width: 100%;
                        }
                    }
                
                }
    
                .social-media {
                    display: flex;

                    .item {
                        margin: 0 5px;

                        a {
                            cursor: pointer;
                        }
                        
                        a i {
                            font-size: 1.2rem;
                            transition: color .4a ease;
                            color: rgb(148, 148, 148);
                        }
                
                        a:hover i {
                            color: var(--white);
                        }
                    }
    
                }
            }
        }
    }

    @media (max-width: 999px) {
        nav {
            .container {
                .logo {
                    // font-size: 24px;
                    display: none;
                    position: inherit;
            
                    img {
                        // width: 30px;
                    }
                }

                .menu {
                    display: none;
                }
            }
        }
    }
}

.navbar-scroll-directive {
    nav {
        color: #121212;
        background: var(--white);
        border-bottom: solid 1px #12121236;

        .container {
            .area {
                .logo {
                    
                    .logo-white {
                        display: none !important;
                    }

                    .logo-black {
                        display: block !important;
                        opacity: 0.9;
                    }
                }

                .menu {
                    .item {
                        a {
                            color: #000 !important;
                        }

                        a:hover {
                            font-weight: 700 !important;
                            color:  var(--primary-color) !important;
                        }
                    }
                }

                .social-media {
                    .item {
                        a i {
                            color: #000 !important;
                        }
                
                        a:hover i {
                            color:  var(--primary-color) !important;
                        }
                    }
                }
            }
        }
    }
}