<div class="navbar-component" appScroll>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-7 logo" routerLink="/home">
                    <img src="../../../assets/img/Logo branca.png" class="logo-white" alt="Renascer Logo">
                    <img src="../../../assets/img/Logo preta.png" class="logo-black" alt="Renascer Logo">
                </div>
                <div class="mobile-menu" (click)="addClickEvent()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="col-md-5 menu">
                    <div *ngFor="let menu of menuItens">
                        <a routerLink="{{menu.router}}">{{menu.label}}</a>
                    </div>
                </div>
                
                <div class="nav-list-mobile">
                    <div *ngFor="let menu of menuItens">
                        <a routerLink="{{menu.router}}" (click)="addClickEvent()">{{menu.label}}</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
