<div class="home-module">
    <div class="container">
        <!-- <div class="background-image"></div> -->
        <div class="title">
            <span>Em</span>
            <br />
            <span>construção</span>
        </div>

        <div class="sub-title">
            <span>O site está quase pronto</span>
        </div>
        
        <div class="bar">
            <div class="progress-bar">
                <div class="progress-bar-fill"></div>
                <div class="progress-bar-background"></div>
            </div>
            <span class="porcentage">
                <span>0%</span>
                <span>100%</span>
            </span>
        </div>

        <div class="social-media">
            <ul *ngFor="let media of socialMedia">
                <li>
                    <a (click)="openLink(media.link)">
                        <i class="{{media.icon}}"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="where-we-are">
            <button class="bnt" routerLink="/where-we-are">
                <i class="bi bi-geo-alt-fill"></i>
                Onde estamos
            </button>
        </div>    
    </div>
</div>