<div class="home module">
    <div class="container">
        <section class="last-sermon">
            <div class="banner">
                <div class="img" *ngIf="videoBanner.img" style="background-image: url({{videoBanner.img}});"></div>
                <div class="img" *ngIf="!videoBanner.img" style="background-image: url(https://img.youtube.com/vi/{{videoBanner.urlImg}}/0.jpg);"></div>
                <div class="description">
                    <div class="latest">
                        <span>Mais Recente</span>
                    </div>
                    <span class="title-video">{{videoBanner.title}}</span>
                    <div class="buttons">
                        <button class="btn watch" (click)="goToSermon()">Assistir pregação</button>
                        <button class="btn more" (click)="goTo('all-sermons')">Mais pregações</button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="data">
                <div class="left-data">
                    <section>
                        <div class="our-home">
                            <div class="image" style="background-image: url('../../../assets/img/home.jpg');">
                                <div class="text">
                                    <div>Bem-vindo a nossa casa</div>
                                    <div class="buttons">
                                        <button class="btn about" (click)="goTo('about')">Conheça a Renascer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="renascer-news">
                        <div class="title">Renascer News</div>
                        <div class="news-area">
                            <div class="news" *ngFor="let new of renascerNews">
                                <div class="image" style="background-image: url({{new.image}});"></div>
                                <div class="info">
                                    <span>{{new.title}}</span>
                                </div>
                                <div class="line"></div>
                                <div class="date">
                                    <i class="bi bi-calendar-event"></i>
                                    <span>12/04/2023</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="right-data">
                    <div class="schedule">
                        <div class="title">Agenda</div>
                        <div class="day" *ngFor="let day of schedule">
                            <span class="service">{{day.service}}</span>
                            <div class="week-time">
                                <span class="week">{{day.dayWeek}}</span>
                                <span class="time">{{day.time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                        <div class="title">Redes sociais</div>
                        <div class="media" *ngFor="let media of socialMedia" (click)="openLink(media.link)">
                            <div class="name">
                                <img src="{{media.img}}" alt="">
                                <span class="name">{{media.name}}</span>
                            </div>
                            <div class="arrow">
                                <i class="bi bi-box-arrow-up-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>