<div class="home module">
    <div class="container">
        <section class="last-sermon">
            <div class="banner">
                <div class="img">
                    <img src="{{videoBanner.img}}" alt="">
                </div>
                <div class="description">
                    <div class="latest">
                        <span>Mais recente</span>
                    </div>
                    <span class="title-video">{{videoBanner.title}}</span>
                    <div class="buttons">
                        <button class="btn watch" (click)="goToSermon()">
                            Assistir
                        </button>
                        <button class="btn more" (click)="goToSermons()">
                            Mais pregações
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="data">
                <div class="left-data">

                </div>
                <div class="right-data">
                    <div class="schedule">
                        <div class="title">Agenda</div>
                        <div class="day" *ngFor="let day of schedule">
                            <span class="service">{{day.service}}</span>
                            <span class="week">{{day.dayWeek}}</span>
                            <span class="time">{{day.time}}</span>
                        </div>
                    </div>
                    <div class="social-media">
                        <div class="title">Redes sociais</div>
                        <div class="media" *ngFor="let media of socialMedia" (click)="openLink(media.link)">
                            <div class="name">
                                <img src="{{media.img}}" alt="">
                                <span class="name">{{media.name}}</span>
                            </div>
                            <div class="arrow">
                                <i class="bi bi-arrow-up-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>