.home {
    .last-sermon {
        margin-bottom: 2vh;

        .banner {
            width: 100%;
            border-radius: var(--border-radius);
            transition: all .3s ease;
            position: relative;
        }

        .img {
            position: inherit;
            width: 100%;
            height: 600px;
            border-radius: var(--border-radius);
            background-color: #1c1c1c;
            box-shadow: var(--box-shadow);
            background-position: center;
            background-size: cover;
        }

        .description {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            position: absolute;
            text-align: initial;
            padding: 20px;
            bottom: 0vh;
            width: 100%;

            .latest {
                span {
                    background-color: rgba(244,245,247,.3);
                    color: #FFF;
                    padding: 5px 15px;
                    font-size: 13px;
                    border-radius: 20px;
                }
            }
    
            .title-video {
                font-size: 2rem;
                color: #FFF;
                position: relative;
                margin-bottom: 5px;
            }
        }

        .buttons {
            button {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
                margin-right: 15px;
                padding: 10px 20px;
                transition: all .3s ease;
                border-radius: 20px;
            }
            
            .watch {
                background-color: var(--primary-color);
                color: #FFF;
            }

            .more {
                background-color: #FFF;
            }

            button:hover {
                transform: scale(1.05);
            }
        }
    }

    .data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left-data {
        width: calc(100% - 30%);
        margin-right: 20px;

        section {
            margin-bottom: 20px;
        }

        .our-home {
            transition: all .3s ease;
            cursor: pointer;

            .image {
                width: 100%;
                height: 300px;
                background-position: center;
                background-size: cover;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);

                .text {
                    color: #FFF;
                    padding: 20px;
                    bottom: 0;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-radius: var(--border-radius);
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }

        .our-home:hover {
            transform: scale(1.02);
        }

        .renascer-news {
            .title {
                font-size: 30px;
                font-weight: 700;
                position: relative;
            }

            .news-area {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
    
            .news {
                background-color: #FFF;
                width: calc(100% / 3 - 10px);
                margin: 10px 0;
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
                cursor: pointer;
                transition: all .3s ease;
    
                .image {
                    width: 100%;
                    height: 190px;
                    background-color: black;
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    border-top-left-radius: var(--border-radius);
                    border-top-right-radius: var(--border-radius);
                }
    
                .info {
                    height: 100px;
                    padding: 0 20px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                }
    
                .line {
                    border-top: 1px solid;
                    margin-bottom: 10px;
                    margin: 0 20px;
                }
    
                .date {
                    padding: 10px 20px;
                    font-size: 15px;
                    align-items: center;
                    display: flex;
    
                    i {
                        font-size: 25px;
                        margin-right: 10px;
                    }
                }
            }
    
            .news:hover {
                transform: scale(1.05);
            }
        }
    }

    .right-data {
        right: 0;
        width: 30%;

        .title {
            font-size: 25px;
            font-weight: 700;
            text-transform: capitalize;
            padding-bottom: 15px;
            margin: 0;
        }

        .schedule {
            background-color: #FFF;
            padding: 20px;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            margin-bottom: 20px;

            .title {
                // border-bottom: 1px solid var(--netral-2);
            }
        
            .day {
                // border-bottom: 1px solid var(--netral-2);
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                background-color: #f6f6f6;
                padding: 10px 15px;
                margin-bottom: 10px;
                border-radius: 20px;
            }
    
            .service {
                font-size: 17px;
                font-weight: 600;
                font-family: Helvetica-Bold;
            }

            .week-time {
                display: flex;
                justify-content: space-between;
                font-family: Helvetica-Bold;
            }
    
            .week {
                font-size: 12px;
                color: var(--netral-3);
                font-weight: 500;
                letter-spacing: 1px;
                // text-transform: uppercase;
                font-family: system-ui;
            }
    
            .time {
                color: var(--primary-color);
                font-size: 25px;
                font-weight: 700;
                display: flex;
                justify-content: right;
            }
        }
    
        .social-media {
            background-color: #FFF;
            padding: 20px;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);

            .media {
                // border-bottom: 1px solid var(--netral-2);
                padding: 10px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }

            .media:hover {
                background-color: #f6f6f6;
                border-radius: 20px;
            }
        
            .name {
                font-size: 16px;
                font-weight: 600;

                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }

            .arrow {
                i {
                    color: var(--netral-3);
                    font-size: 15px;
                    float: right;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .left-data {
            .renascer-news {        
                .news {
                    width: calc(100% / 2 - 10px);
        
                    .image {
                        height: 30vh;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .last-sermon {   
            .img {
                height: 40vh;
            }

            .description {
                .latest {
                    span {
                        padding: 5px 10px;
                        font-size: 10px;
                    }
                }

                .title-video {
                    font-size: var(--font-size-mobile-title);
                }
            }

            .buttons {
                button {
                    font-size: var(--font-size-mobile-text);
                    margin-right: 10px;
                    padding: 5px 15px;
                }
            }
        }

        .data {
            flex-direction: column;
        }

        .left-data {
            width: 100%;

            .our-home {
                .image {
                    width: 100%;
                    height: 25vh;
    
                    .text {
                        padding: 20px;
                        font-size: var(--font-size-mobile-subtitle);
                        height: 25vh;
    
                        button {
                            font-size: .7rem;
                            padding: 5px 15px;
                        }
                    }
                }
            }
 
            .renascer-news {
                .title {
                    font-size: 1.3rem;
                }
            
                .news {
                    width: calc(100% / 2 - 10px);
        
                    .image {
                        height: 20vh;
                    }
        
                    .info {
                        height: 10vh;
                        padding: 0 10px;
                        font-size: var(--font-size-mobile-text);
                    }

                    .line {
                        margin: 0 10px;
                    }
            
                    .date {
                        padding: 5px 10px;
                        font-size: var(--font-size-mobile-text);
        
                        i {
                            font-size: var(--font-size-mobile-text);
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .right-data {
            width: 100%;
        
            .schedule {
                padding: 20px;
    
                .title {
                    font-size: var(--font-size-mobile-title);
                }
                    
                .service {
                    font-size: var(--font-size-mobile-subtitle);
                }
            
                .week {
                    font-size: var(--font-size-mobile-subtitle);
                }
        
                .time {
                    font-size: var(--font-size-mobile-title);;
                }
            }
        
            .social-media {
                background-color: #FFF;
                padding: 20px;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);

                .title {
                    font-size: var(--font-size-mobile-title);
                }
    
                .media {
                    padding: 10px 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
                
                .name {
                    font-size: var(--font-size-mobile-subtitle);
    
                    img {
                        width: 10vw;
                    }
                }
    
                .arrow {
                    i {
                        font-size: var(--font-size-mobile-subtitle);;
                    }
                }
            }
        }
    }
}