<div class="all-sermons module">
    <div class="container">
        <div class="title-module">Pregações</div>
        <div class="session">
            <div class="search-session">
                <div class="search">
                    <div class="sub-title-module">
                        <span>Preletores</span>
                    </div>
                    <div class="input-search">
                        <input class="form-control" type="text" (ngModelChange)="searchSpeaker($event)" placeholder="Pesquise o preletor" ngModel>
                        <div class="icon">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div *ngFor="let speaker of speakers" [ngClass]="filterTheName(speaker) ? 'filter-speaker' : 'speakers'" >
                        <a (click)="searchBySpeakers(speaker)">
                            <label>{{speaker}}</label>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="video-session">
                <div class="area">
                    <div class="box" *ngFor="let sermon of allSermons" (click)="goToSermon(sermon)">
                        <div class="img" *ngIf="sermon.cover_image" style="background-image: url({{sermon.cover_image}});"></div>
                        <div class="img" *ngIf="!sermon.cover_image" style="background-image: url(https://img.youtube.com/vi/{{sermon.video_id}}/0.jpg);"></div>
                        <div class="description">
                            <span class="title-video">{{sermon.title}}</span>
                            <span class="speaker">{{sermon.author}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>