<div class="watch-sermon module">
    <section>
        <div class="container">
            <div class="video">
                <iframe [src]="videoURL" 
                        title="sermon.title" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
            </div>
            <div class="description">
                <span class="title-video">{{sermon.title}}</span>
                <span class="speaker">{{sermon.author}} • {{videoDATE}} </span>
                <span class="description-video">{{sermon.description}}</span>
            </div>
        </div>
    </section>
    <section class="section-more-sermons">
        <div class="more-sermons">
            <a routerLink="/all-sermons">
                <button type="button" class="btn">
                    <span>Mais vídeos</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </a>
        </div>
    </section>
</div>