.leadership {
    .image {
        width: 500px;
        height: 400px;
        background-color: #1c1c1c;
        background-position: center;
        background-size: cover;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .sub-title-module {
        margin-bottom: 20px;
    }

    .text {
        font-size: --size-font-text;
        text-align: justify;

        p {
            margin-bottom: 0;
            margin-top: 0;
            text-indent: 5rem;
        }
    }
}