.leadership {
    .image {
        margin-bottom: 20px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .info {
        display: flex;
        flex-direction: column;

        .sub-title {
            margin-bottom: 20px;
        }

        .description {
            margin: auto;
            text-align: justify;

            p {
                text-indent: 3ch;
            }

            h4 {
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 10px;
            }

            span {
                font-size: 20px;

            }
        }


    }
}