<section class="leadership module">
    <div class="container">
        <div class="title-module">Liderança</div>
        <div class="image" style="background-image: url('../../../assets/img/prs.jpg');"></div>
        <div class="sub-title-module">Pastores Marcio e Selma Ribeiro</div>
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi est, rutrum sed feugiat vitae, tempus a ex. Vestibulum ut ligula ac orci rhoncus lacinia. Vivamus posuere lacinia diam, sit amet interdum dui accumsan id. Quisque pharetra pellentesque dolor, rhoncus efficitur dui imperdiet a. Phasellus facilisis, sapien nec rhoncus ornare, nulla nibh rutrum arcu, ac imperdiet ante eros vitae ligula. Sed dapibus tortor quis dui faucibus, non fermentum dui vehicula. Vivamus ultricies odio quis ultrices facilisis. Cras vitae nisi pretium, porttitor tellus sit amet, tempus justo. In maximus nisi a lorem efficitur fringilla. Maecenas aliquet eget dui non pellentesque. Suspendisse potenti.
            </p>
            <p>
                Etiam quis turpis quis libero iaculis molestie id quis urna. Suspendisse vel pharetra orci. Pellentesque et ipsum ac augue sollicitudin vestibulum et vel diam. Pellentesque et facilisis nulla, suscipit porttitor nisl. Nunc a nisi dolor. Maecenas eleifend sit amet nisl vitae vulputate. Aliquam egestas fringilla quam, ac pulvinar ex volutpat at. Cras finibus tempus mi ut laoreet. Suspendisse potenti. Quisque sodales fringilla dapibus.
            </p>
            <p>
                Morbi sapien magna, convallis ac efficitur efficitur, facilisis eu elit. Nullam cursus varius nisi quis pulvinar. Ut pharetra, lorem et pretium ullamcorper, elit turpis cursus nisi, sed hendrerit massa orci in dolor. Quisque at cursus lorem. Nullam elementum dui vitae diam laoreet lobortis at non neque. Morbi rhoncus dui at libero aliquet gravida. Integer aliquet, massa vitae pellentesque posuere, lorem risus egestas nisl, ac commodo justo tortor sit amet nisl. Praesent ac felis tincidunt, scelerisque turpis aliquam, pharetra mauris. Quisque consequat diam auctor est molestie varius. Morbi non tellus tempus, finibus eros et, finibus ligula. Aenean viverra elit a purus hendrerit, id dictum nisl vehicula. Duis gravida lobortis posuere. Vivamus felis leo, aliquam at orci at, elementum ornare nunc. Mauris suscipit risus a molestie volutpat. Etiam laoreet tellus eu ante faucibus, id viverra elit congue.
            </p>
        </div>
    </div>
</section>