<div class="leadership-module">
    <app-title-module [image]="imgTitle" [title]="'Liderança'" ></app-title-module>
    <div class="container"></div>
    <!-- <section>
        <div class="container">
            <div class="top">
                <div class="title">
                    <h1>Leadership</h1>
                </div>
                <div class="return">
                    <button class="btn"
                            (click)="goToAbout()">
                        <span>Voltar</span>
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="info">
                <div class="image">
                    <img src="../../../../assets/img/prs.jpg" alt="">
                </div>
                <div class="text">
                    <h4>Pastor Steven and Holly Furtick</h4>
                    <span>
                        Steven Furtick is a pastor, songwriter, & New York Times best-selling author. As founder and lead pastor, he has helped grow the multi-site Elevation Church into a global ministry through online streaming, television, and the music of Elevation Worship. He holds a master of divinity degree from Southern Theological Seminary and is the author of Crash the Chatterbox, Greater, Sun Stand Still, (Un)Qualified, and Seven-Mile Miracle. Pastor Steven and Holly live in Charlotte, NC with their two sons, Elijah and Graham, and daughter, Abbey.
                    </span>
                </div>
            </div>
        </div>
    </section> -->
</div>
