.leadership-module {
    background-color: var(--white);
    display: flex;
    justify-content: center;

    .container {
        width: 100vw;

        .leadership-area {
            .title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                margin: 1vw;
            }

            .info {
                display: flex;
                margin: 10vh 0;

                .image {
                    margin-right: 2vw;
                    img {
                        max-width: 500px;
                        max-height: 500px;
                        width: 350px;
                        height: 350px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .text {
                    margin: auto;
                    text-align: justify;

                    h4 {
                        font-family: 'Montserrat', sans-serif;
                        margin-bottom: 10px;
                    }

                    span {
                        font-size: 20px;

                    }
                }
            }
        }
    }
}