//Import my scss files
@import "./app//modules/components/progress-bar";

//Bootstrap imports
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

//FontAwesome imports
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';
// @import '~@fortawesome/fontawesome-free/scss/brands';

@font-face {
    font-family: "proxima-nova";
    src: url("../src/assets/fonts/Proxima\ Nova\ Font.otf");
}

@font-face {
    font-family: "open-sans-hebrew-condensed-extra-bold";
    src: url("../src/assets/fonts/open-sans-hebrew-condensed-extra-bold.ttf");
}

@font-face {
    font-family: "open-sans-hebrew-bold";
    src: url("../src/assets/fonts/open-sans-hebrew-bold.ttf");
}

@font-face {
    font-family: "open-sans";
    src: url("../src/assets/fonts/open-sans-hebrew.ttf");
}

//Colors
:root {
    --background-color: #232222;
    --primary-color: #955666;
    --transparent: #00000000;
    --white: #FFF;
    --black: #000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 99vw;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    font-family: 'proxima-nova';
    overflow: hidden;
    background-color: var(--background-color);
}

.navbar-scroll-directive {
    nav {
        color: #121212;
        background: var(--white);
        border-bottom: solid 1px #12121236;

        a {
            color: var(--black) !important;
        }

        a::after {
            background-color: var(--black) !important;
        }

        .logo-white {
            display: none !important;
        }

        .logo-black {
            display: block !important;
            opacity: 0.9;
        }
    }
}

//style scroll bar
::-webkit-scrollbar {
    width: 1vw;
    height: 2vh;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #FFF;
}

::-webkit-scrollbar-corner {
    // background-color: red;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #3d4465;
}

::-webkit-input-placeholder {
    color: rgb(110 120 153 / 57%);
}

.module {
    padding: 30px 0;
    background-color: #f4f5f7;
    color: #000;
}

.title-module, .sub-title-module {
    font-family: Montserrat-Bold;
    font-weight: 700;
}

.title-module {
    font-size: 40px;
    margin-bottom: 20px;
}

.sub-title-module {
    font-size: 20px;
}

@media(min-width: 1200px) {
    .container {
        max-width: none;
        margin: 0 56px
    }
}

.module {
    margin-top: 10vh;
}