@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import "swiper/css/thumbs";

.swiper-button-prev::after {
    font-family: "bootstrap-icons"; 
    content: "\F284";
    color: #FFF;
    font-size: 25px;
}

.swiper-button-next::after {
    font-family: "bootstrap-icons"; 
    content: "\F285";
    color: #FFF;
    font-size: 25px;
}

.swiper-button-prev, 
.swiper-button-next {
    background-color: #00000052;
    width: 50px;
    height:  50px;
    transition: all 0.1s ease;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.thumbsSwiper .swiper-slide {
    opacity: 0.5;
}
  
.thumbsSwiper .swiper-slide-thumb-active {
    opacity: 1;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/font-awesome/fontawesome-webfont.eot');
    src: url('/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font-awesome/fontawesome-webfont.woff2') format('woff2'),
    url('/font-awesome/fontawesome-webfont.woff') format('woff'),
    url('/font-awesome/fontawesome-webfont.ttf') format('truetype'),
    url('/font-awesome/fontawesome-webfont.svgfontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url(./assets/fonts/Helvetica/Helvetica-Bold.ttf)
}

:root {
    --primary-color: #ff671f;
    --secondary-color: #fcbf49;
    --netral: rgba(244, 245, 247, 0.5);
    --netral-2: hsla(0,0%,9%,.15);
    --netral-3: gray;
    --transparent: #00000000;
    --white: #FFF;
    --black: #000;
    --box-shadow: 5px 5px 5px var(--netral-2);
    --size-font-text: 15px;
    --border-radius: 10px;

    --font-size-mobile-title: 1.3rem;
    --font-size-mobile-subtitle: 1rem;
    --font-size-mobile-text: .7rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // width: calc(100vw - 1.5vw); // Subtraindo o scrooll
    width: 100vw; // Subtraindo o scrooll
    height: 100vh;
    // overflow: hidden;
    overflow-x: hidden !important;
    // overflow-y: auto !important;
    background-color: var(--background-color);
}



//style scroll bar
::-webkit-scrollbar {
    // width: 1.5vw;
}

::-webkit-scrollbar-track {
    background: rgb(138, 138, 138);
}

::-webkit-scrollbar-corner {
    // background-color: red;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3d4465;
}

::-webkit-input-placeholder {
    color: rgb(110 120 153 / 57%);
}

.module {
    padding: 30px 0;
    background-color: #f4f5f7;
    color: #000;
}

.title-module, .sub-title-module {
    font-weight: 700;
}

.title-module {
    font-size: 40px;
    margin-bottom: 20px;
}

.sub-title-module {
    font-size: 20px;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

//Tablet
@media (min-width: 768px) and (max-width: 1023px) {
    .container, .container-sm {
        // max-width: initial;
        // padding: 0 5vh;
    }
}

//Smartphone
@media (max-width: 767px) {
    .container, .container-sm {
        // max-width: initial;
        // padding: 0 5vh;
    }

    .module {
        padding: 10px 0;
    }

    .title-module {
        font-size: var(--font-size-mobile-title);
        margin-bottom: 10px;
    }
    
    .sub-title-module {
        font-size: var(--font-size-mobile-subtitle);
    }

    .swiper-button-prev::after {
        font-size: 15px;
    }
    
    .swiper-button-next::after {
        font-size: 15px;
    }
    
    .swiper-button-prev, 
    .swiper-button-next {
        width: 25px;
        height:  25px;
    }
}