//Import my scss files
@import "./app//modules/home/components/progress-bar";

//Bootstrap imports
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

//FontAwesome imports
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';
// @import '~@fortawesome/fontawesome-free/scss/brands';

@font-face {
    font-family: "proxima-nova";
    src: url("../src/assets/fonts/Proxima\ Nova\ Font.otf");
}

@font-face {
    font-family: "open-sans-hebrew-condensed-extra-bold";
    src: url("../src/assets/fonts/open-sans-hebrew-condensed-extra-bold.ttf");
}

@font-face {
    font-family: "open-sans-hebrew-bold";
    src: url("../src/assets/fonts/open-sans-hebrew-bold.ttf");
}

@font-face {
    font-family: "open-sans";
    src: url("../src/assets/fonts/open-sans-hebrew.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    font-family: 'proxima-nova';
    overflow: hidden;
    background-color: #131313;
}

.navbar-scroll-directive {
    nav {
        color: #121212;
        background: #FFF;
        border-bottom: solid 1px #12121236;

        a {
            color: #000 !important;
        }

        .logo-white {
            display: none !important;
        }

        .logo-black {
            display: block !important;
            opacity: 0.9;
        }
    }
}

.container {
    position: relative;
}

//style scroll bar
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    // background: #c4cff9;
  }
  
  ::-webkit-scrollbar-corner {
    // background-color: red;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3d4465;
  }
  
  ::-webkit-input-placeholder {
    color: rgb(110 120 153 / 57%);
  }