<div class="department-module module">
    <section>
        <div class="container">
            <div class="top">
                <div class="title">
                    <h1>Departaments</h1>
                </div>
                <div class="return">
                    <button class="btn"
                            (click)="goToAbout()">
                        <span>Voltar</span>
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>