<div class="department-module">
    <app-title-module  [image]="imgTitle" [title]="'Ministérios'" ></app-title-module>
    <div class="container"></div>
    <!-- <section>
        <div class="container">
            <div class="top">
                <div class="title">
                    <h1>Departaments</h1>
                </div>
                <div class="return">
                    <button class="btn"
                            (click)="goToAbout()">
                        <span>Voltar</span>
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section> -->
</div>