<div class="vision-module module">
    <section class="section bg-dark wf-section">
        <div class="main-container">
            <div class="container align-center">
                <div class="justify-content-center">
                    <h2 class="large-heading">{{title}}</h2>
                    <div class="large-text">
                        {{text}}
                        <br>
                        <br>
                        {{text2}}
                    </div>
                </div>
            </div>
            <div class="return">
                <button class="btn"
                        (click)="goToAbout()">
                    <span>Voltar</span>
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </section>
</div>